dist
node_modules
build
dist
.DS_Store
.idea
.vscode

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

pids
*.pid
*.seed
*.pid.lock

.npm

.eslintcache

.stylelintcache

.node_repl_history

*.tgz

.env
.env*.local
.idea

.next
out

.temp
.cache

.vscode-test

.pnp.*
